<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Instrodução a vuejs</title>
  </head>
    <style>
        .myContainer{
            text-align: center; 
            margin-top: 15px;
            padding: 15px;
            border: solid 1px black;
            border-radius: 10px;
        }
    </style>
  <body>
      <div id="app" class="container myContainer">          
            <h2>{{title}}</h2>                      
            <input type="text" v-model="nomeimagem"> 
            
            <!-- percorre a lista de image -->
            <div v-for="img in images" :key='img.id'>                
                <img :src="img.srcimg" :title="img.nome">
            </div>

            <!-- index de cada imagem -->
            <div v-for="(img, index) in images" :key='img.id'>
                {{index}}
                <img :src="img.srcimg" :title="img.nome">
            </div>


            <!-- index de cada imagem -->
            <!-- Se a nossa variavel e contituido por objeto entao da para pegar os value, key e index dele -->
            <div v-for="(value, key, index) in images">
                {{key}} {{value}}             
            </div>
            
            <!-- verificando que imagem agente quer -->            
            <img v-if="nomeimagem == 'vue-one'" :src="srcimg" alt="Imagem numero 1">
            <img v-else-if="nomeimagem == 'vue-dois'":src="srcimg2" alt="Imagem numero 2">
            <div v-else>Não ten imagem para mostrar agora</div>

      </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script>
        // Criando uma instancia de vueJS
        var app = new Vue ({
            el : "#app",
            data:{
                title: "Directivas v-for in vueJS",                
                images : [
                    {
                        nome: 'vue-dois',
                        srcimg: 'vue-dois.png'
                    },
                    {
                        nome: 'vue-one',
                        srcimg: 'vuejs-one.png'
                    }
                ],
                nomeimagem : '',
                srcimg: 'vue-dois.png',
                srcimg2: 'vuejs-one.png'

            }
            
        })
    </script>
  </body>
</html>